{% for resource in resources %}

    <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12">
        <div class="card">
            <div class="header">
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-7">
                        <h2>
                            {% if resource.ckan_resource_id %}
                                {{ resource.name }}

                                </a>
                            {% else %}
                                {{ resource.name }}
                            {% endif %}
                            <small><a href="{{ resource.ckan.url }}" target="_blank">{{ resource.ckan.name }} - {{ resource.ckan.url }}</a></small>
                        </h2>
                    </div>

                    <div class="col-xs-12 col-sm-5 align-right" style="padding: 0px;">
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group" role="group">
                                <a href="{% url 'frontend:resource_edit' resource.id %}"
                                   class="btn bg-teal waves-effect" data-toggle="tooltip" data-placement="right" title="Edit">
                                    <i class="material-icons">mode_edit</i>
                                </a>
                                <a href="{% url 'frontend:data_dictionary_resource' resource.id %}"
                                   class="btn bg-teal waves-effect" data-toggle="tooltip" data-placement="right" title="Data Dictionary">
                                    <i class="material-icons">assignment</i>
                                </a>
                                <a href="{% url 'frontend:schedule_resource' resource.id %}"
                                   class="btn bg-teal waves-effect" data-toggle="tooltip" data-placement="right" title="Schedule">
                                    <i class="material-icons">alarm_add</i>
                                </a>
                                <a href="{{ resource.resource_url }}" target="_blank"
                                   class="btn bg-teal waves-effect" data-toggle="tooltip" data-placement="right" title="Link">
                                    <i class="material-icons">link</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="body">

                <div class="form-group">
                    <labe><b>Description:</b></labe>
                    <br>
                    {{ resource.description | truncatechars:140 }}
                </div>

                <div class="form-group">
                    <b>Scheduled to:</b>
                    {% if resource.get_last_schedule %}
                        {{ resource.get_last_schedule.schedule_date_time | date:"d/m/Y" }}
                        (EVERY {{ resource.schedule_type }})</br>
                    {% else %}
                        Not scheduled
                    {% endif %}

                    {% if resource.get_last_success_schedule %}
                        <b>Last update: </b>{{ resource.get_last_success_schedule.schedule_date_time | date:"d/m/Y" }}
                    {% endif %}
                </div>


            </div>
        </div>
    </div>

{% endfor %}
