{% load i18n %}

{% for resource in resources %}
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
            <div class="body bg-white" style="padding-bottom: 1px;">

                <div class="row clearfix">

                    <div class="col-sm-8">

                        <div style="margin-bottom: 25px;">
                            <h4>
                                {% if resource.ckan_resource_id %}
                                    {{ resource.name }}

                                    </a>
                                {% else %}
                                    {{ resource.name }}
                                {% endif %}

                            </h4>

                            <small><a href="{{ resource.ckan.url }}" target="_blank">{{ resource.ckan.name }}
                                - {{ resource.ckan.url }}</a></small>
                        </div>

                        <div>
                            <div style="margin-bottom: 5px">
                                <labe><b>{% trans 'Description:' %}</b></labe>
                                <br>
                                {{ resource.description | truncatechars:140 }}
                            </div>

                            <div>
                                <b>{% trans 'Scheduled to:' %}</b> </br>
                                {% if resource.get_last_schedule %}
                                    {{ resource.get_last_schedule.schedule_date_time | date:"d/m/Y" }}

                                    {% if resource.schedule_type == 'DAY' %}
                                        (DIARIAMENTE)
                                    {% elif resource.schedule_type == 'WEEK' %}
                                        (SEMANALMENTE)
                                    {% elif resource.schedule_type == 'MONTH' %}
                                        (MENSALMENTE)
                                    {% elif resource.schedule_type == 'YEAR' %}
                                        (ANUALMENTE)
                                    {% endif %}

                                    </br>
                                {% else %}
                                    {% trans 'Not scheduled' %}
                                {% endif %}

                                {% if resource.get_last_success_schedule %}
                                    <b>{% trans 'Last update:' %} </b>
                                    {{ resource.get_last_success_schedule.schedule_date_time | date:"d/m/Y" }}
                                {% endif %}
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-4">

                        <div class="btn-group-vertical" role="group">

                            <a type="button" href="{% url 'frontend:resource_edit' resource.id %}"
                               class="btn bg-teal waves-effect" data-toggle="tooltip" data-placement="right"
                               title="{% trans 'Edit' %}" style="text-align: left;">

                                <i class="material-icons" style="padding:1px 5px;">mode_edit</i>
                                <span>{% trans 'Edit' %}</span>

                            </a>

                            <a type="button" href="{% url 'frontend:data_dictionary_resource' resource.id %}"
                               class="btn bg-teal waves-effect" data-toggle="tooltip" data-placement="right"
                               title="{% trans 'Data Dictionary' %}" style="text-align: left;">
                                <i class="material-icons" style="padding: 1px 5px;">assignment</i>
                                <span>Dicionário</span>
                            </a>

                            <a type="button" href="{% url 'frontend:schedule_resource' resource.id %}"
                               class="btn bg-teal waves-effect" data-toggle="tooltip" data-placement="right"
                               title="{% trans 'Schedule' %}" style="text-align: left;">
                                <i class="material-icons" style="padding: 1px 5px">alarm_add</i>
                                <span style="font-size: 13px;">{% trans 'Schedule' %}</span>
                            </a>

                            <a type="button" href="{% url 'frontend:resource_notification' resource.id %}"
                               class="btn bg-teal waves-effect" data-toggle="tooltip" data-placement="right"
                               title="{% trans 'Notification' %}" style="text-align: left;">
                                <i class="material-icons" style="padding: 1px 5px">email</i>
                                <span style="font-size: 13px;">{% trans 'Notification' %}</span>
                            </a>

                            <a type="button" href="{% url 'frontend:resource_log' resource.id %}"
                               class="btn bg-teal waves-effect" data-toggle="tooltip" data-placement="right"
                               title="Log" style="text-align: left;">
                                <i class="material-icons" style="padding: 1px 5px">subject</i>
                                <span style="font-size: 13px;">{% trans 'Log' %}</span>
                            </a>

                            <a type="button" href="{% url 'frontend:data_quality_resource' resource.id %}"
                               class="btn bg-teal waves-effect" data-toggle="tooltip" data-placement="right"
                               title="{% trans 'Data Quality Feedback' %}" style="text-align: left;">
                                <i class="material-icons" style="padding: 1px 5px">assessment</i>
                                <span style="font-size: 13px;">Qualidade Dados</span>
                            </a>

                            {% if resource.ckan_resource_id != "" %}
                                <a type="button" href="{{ resource.resource_url }}" target="_blank"
                                   class="btn bg-teal waves-effect" data-toggle="tooltip" data-placement="right"
                                   title="Link" style="text-align: left;">
                                    <i class="material-icons" style="padding: 1px 5px">link</i>
                                    <span style="font-size: 13px;">{% trans 'Link' %}</span>
                                </a>
                            {% endif %}

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

{% endfor %}
