{% extends "base.html" %}
{% load i18n %}

{% load staticfiles %}

{% block title %}Resource Log | OpenEasier{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">

                    <div class="header">
                        <h2>{% trans 'RESOURCE LOG' %}</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                   role="button"
                                   aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">{% trans 'HELP' %}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div class="body">

                        <div class="form-group">
                            <label>{% trans 'Resource Name' %}</label>
                            <br><span>{{ resource.name }} - {{ resource.ckan.name }}</span>
                        </div>

                        <div class="form-group">
                            <label>{% trans 'Last execution' %}</label>
                            <br><span>{{ resource_schedule.schedule_date_time }} - {{ resource_schedule.execution_status }}</span>
                        </div>

                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="body table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>{% trans 'MESSAGE' %}</th>
                                            <th>{% trans 'STATUS' %}</th>
                                            <th>{% trans 'TIME' %}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for log in logs %}
                                            <tr>
                                                <td>{{ log.log_message }}</td>
                                                <td>{{ log.log_status }}</td>
                                                <td>{{ log.log_time }}</td>
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="3">
                                                    <div class="align-center">
                                                        <h6>{% trans 'NO DATA FOUND' %}</h6>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <a href="{% url 'frontend:panel_resource' %}" class="btn bg-teal waves-effect">
                            <i class="material-icons">arrow_back</i>
                            <span>{% trans 'BACK' %}</span>
                        </a>

                    </div>

                </div>
            </div>
        </div>


    </div>

{% endblock %}