{% extends "base.html" %}
{% load i18n %}

{% block title %}Resource Data Dictionary | OpenEasier{% endblock %}

{% block content %}

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">

                <div class="header">
                    <h2>{% trans 'RESOURCE DATA DICTIONARY' %}</h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);">{% trans 'HELP' %}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="body">

                    <form method="POST" action="#">
                        {% csrf_token %}

                        <div class="form-group">
                            <label>{%  trans 'Resource Name' %}</label>
                            <br><span>{{ resource.name }} - {{ resource.ckan.name }}</span>
                        </div>

                        <input type="hidden" name="data_dictionary_id" value="{{ data_dictionary.id }}"/>

                        <div class="form-group">
                            <div class="form-line">
                                <label>{% trans 'Resource Data Dictionary Description' %}</label>
                                <textarea rows="2"  value="{{ data_dictionary.description|default_if_none:"" }}"
                                           class="form-control no-resize" name="dd_description" >{{ data_dictionary.description|default_if_none:"" }}</textarea>
                            </div>

                        </div>

                        <h4>{% trans 'Describe the columns:' %}</h4>
                        <br>

                        {% for column in columns %}
                            <div class="form-group">
                                <div class="form-line">
                                    <label>{{ column.verbose_name }}</label>
                                    <input type="text" value="{{ column.dd_description|default_if_none:"" }}"
                                           class="form-control" name="column_{{ column.id }}">
                                </div>
                            </div>
                        {% endfor %}

                        <div class="form-group">
                            <a href="{% url 'frontend:panel_resource' %}" class="btn bg-teal waves-effect">
                                <i class="material-icons">cancel</i>
                                <span>CANCELAR</span>
                            </a>
                            <button type="submit" class="btn bg-teal waves-effect">
                                <i class="material-icons">done</i>
                                <span>SALVAR</span>
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}