{% extends "base.html" %}

{% block title %}Logged out | OpenEasier{% endblock %}

{% block body %}

    <body class="login-page bg-teal">

    {% if not request.user.is_authenticated %}
        <div class="alert bg-green alert-dismissible" role="alert">

            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span>
            </button>
            <p>User <b>logged out</b> with success!</p>
        </div>
    {% endif %}

    <div class="login-box">

        <div class="logo">
            <a style="font-size: 40px;font-family: 'Kaushan Script', cursive;">Open<b>Easier</b></a>
        </div>

        <div class="card">
            <div class="body">

                <div class="align-center">

                    <form method="get" action="{% url 'frontend:login' %}">
                        {% csrf_token %}

                        <button type="submit" class="btn btn-block bg-teal waves-effect">
                            <i class="material-icons">account_circle</i>
                            <span>SIGN IN HERE</span>
                        </button>

                    </form>

                </div>

            </div>

        </div>
    </div>

{% endblock %}